<!DOCTYPE html>
<html>

<head>
    <title>EduPortfolio Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/students">Students</a>

    <a href="/register">Register</a>
     <a href="/login">Login</a>
     <a href="/logout">Logout</a>
</nav>

<hr>

{% block content %}{% endblock %}

<footer>
    <hr>
    <p>© 2026 EduPortfolio Manager | Internship Project</p>
</footer>

</body>
</html>